/*
 * @author: YANG NGUYEN
 * @copyright: 2012
*/

*:focus{
    outline: none;
}
textarea{
    resize: none;
}

.colOne{
    text-align: left!important;
    width: 20%;
}

.inputText{
    width: 93%;
    height: 25px;
    padding: 2px 5px;
    border: solid 1px #eee;
    border-radius: 3px;
}

.inputSelect{
    width: 95%;
    height: 30px;
    padding: 2px 5px;
    border: solid 1px #eee;
    border-radius: 3px;
}
.inputArea{
    width: 93%;
    padding: 2px 5px;
    border: solid 1px #eee;
    border-radius: 3px;
}

.mws-datatable span{
    padding-right: 10px;
    display: inline-block;
}
.filter{
    position: relative;
}
.Add{
    position: absolute;
    right: 10px;
    top: 10px;
    font-weight: bold;
    cursor: pointer;
}

.ulRightMenu .current a{
    font-weight: bold;
    color: #339CDD!important;
}

#lang{
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 3px;
    padding: 2px 5px;
    margin-top: 4px;
}
#lang img{
    width: 27px;
}